body{
    text-align: center;
    background-color: yellow;
}

.profile{
    border-style: dashed;
    height: 50px;
    text-align: center;
    width: 500px;  
    margin: auto;
}

#par1{
    font-size: 20px;
}

